.popup__container {
  box-sizing: border-box;
  background-color: #fff;
  min-width: 430px;
  min-height: 330px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 37px;
  position: relative;
}
