.profile__info {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 294px));
  grid-template-rows: repeat(2, max-content);
  column-gap: 18px;
  row-gap: 16px;
  grid-template-areas:
    "name button-edit"
    "status .";
  max-width: 336px;
  min-height: 73px;
  align-items: baseline;
}
